[submodule "Minimus"]
	path = Article/minimus
	url = git@Lithium:LaTeX/Minimus.git
	branch = dev
[submodule "ArticleArgon"]
	path = Article/article-argon
	url = git@Lithium:LaTeX/ArticleArgon.git
	branch = dev
[submodule "MakefileLaTeX"]
	path = Article/makefile-latex
	url = git@Lithium:LaTeX/MakefileLaTeX.git
	branch = dev
[submodule "StandaloneSilicon"]
	path = Article/standalone-silicon
	url = git@Lithium:LaTeX/StandaloneSilicon.git
	branch = dev
[submodule "PyJool"]
	path = Article/pyjool
	url = git@Lithium:LaTeX/PyJool.git
	branch = dev
